<a href="https://colab.research.google.com/github/Natalycat86/111/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})

In [ ]:
dummies = pd.get_dummies(data['whoAmI'], drop_first = True)
dummies

    robot
0       1
1       0
2       1
3       0
4       1
5       1
6       1
7       1
8       1
9       1
10      0
11      0
12      0
13      0
14      1
15      0
16      0
17      1
18      0
19      0

In [ ]:
types_list = data["whoAmI"].tolist()
def one_hot (data, list):
    iter_dummies = []
    for i in range (len(data)):
        if data.iloc[i, 0] == list[0]:
            iter_dummies.append(1)
        else: 
            iter_dummies.append(0)
    return iter_dummies
new_view2 = pd.DataFrame({types_list[0]:one_hot(data,types_list)})
new_view2

    robot
0       1
1       0
2       1
3       0
4       1
5       1
6       1
7       1
8       1
9       1
10      0
11      0
12      0
13      0
14      1
15      0
16      0
17      1
18      0
19      0